{% load static %}


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'Registration/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Registration/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Registration/css/iofrm-style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Registration/css/iofrm-theme2.css' %}">
        <title>{% block title %} {% endblock %}</title>
    </head>

<body>
    
    {% block content %}

    {% endblock %}

    <script scr="{% static 'Registration/js/jquery.min.js' %}"></script>
    <script scr="{% static 'Registration/js/popper.min.js' %}"></script>
    <script scr="{% static 'Registration/js/bootstrap.min.js' %}"></script>
    <script scr="{% static 'Registration/js/main.js' %}"></script>
    </body>
    </html>