{% extends 'Registration/base.html' %}
{% block title %}Login{% endblock %}
{% load static %}

{% block content %}
    <div class="form-body">
        <div class="website-logo">
            <a href="{% url 'Registration:login' %}">
                <div class="logo">
                    <img class="logo-size" src="{% static 'Registration/img/logo-light.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">

                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get stock done .</h3>
                        <p>Mali bila daftri hupotea.</p>
                        <div class="page-links">
                            <a href="login2.html" class="active">Login</a><a href="{% url 'Registration:register' %}">Register</a>
                        </div>
                        <form>
                            <input class="form-control" type="text" name="username" placeholder="Phone-Number" required>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                            <input type="checkbox" id="chk1"><label for="chk1">Remmeber me</label>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="{%  url 'Registration:forget' %}">Forget password?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
