{% extends 'base.html' %}
{% block title %}Welcome to Mangi{% endblock %}
{% load static %}

{% block content %}


        <!-- home-agency start -->
        <section class="hero-2" id="home">
            <div class="bg-overlay-img"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center hero-content">
                    <div class="col-lg-6">
                        <div class="avatar avatar-xl rounded-circle bg-soft-primary text-primary shadow-sm mb-4">
                            <i class="mdi mdi-rocket-launch mb-0 h2"></i>
                        </div>
                        <h1 class="hero-title fw-bold mb-4 display-5">Manage Your Finacial Activities  With <span class="text-primary">Mangi</span></h1>
                        <p class="opacity-75 mb-4 pb-3 fs-17"> What sets us apart is our ecosystem focus. Unlike traditional POS systems, we don't just manage transactions—we manage relationships and growth. Our platform enables businesses to directly connect with suppliers for seamless stock management, engage with customers to foster loyalty, and access microfinance to fuel growth. Plus, our offline-first policy ensures businesses remain operational even in areas with unstable internet access.</p>
                        <a href="https://wa.me/255687046323" class="btn btn-lg btn-gradient-primary" target="_blank">Get Started Today</a>

                        <a href="javascript:void(0);" class="btn btn-lg btn-outline-dark">Download App</a>
                    </div>

                    <div class="col-md-8 col-lg-5 offset-lg-1">
                        <div class="hero-2-img mt-5 mt-lg-0">
                            <img src="{% static 'images/heros/hero-2-img.png' %}" alt="" class="img-fluid rounded-lg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- home-agency end -->
<!-- How it works start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h6 class="subtitle">How it <span class="fw-bold">Works</span></h6>
                <h2 class="title">Revolutionizing Business Operations</h2>
                <p class="text-muted">
                    Traditional POS systems focus solely on transactions, leaving businesses to juggle multiple platforms to manage suppliers, customer relationships, financing, and more. This fragmented approach limits growth, efficiency, and profitability. 
                    Here's how our app creates a connected ecosystem that keeps your business intact and growing:
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-primary mb-4">
                        <i class="mdi mdi-account-plus-outline"></i>
                    </div>
                    <h5 class="fw-semibold">1. Set Up Your Account</h5>
                    <p class="text-muted">
                        Easily create an account and integrate all your business needs in one place—manage suppliers, customers, and transactions effortlessly.
                    </p>
                    <img src="{% static 'images/arrow-top.png' %}" alt="" class="work-arrow" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-success mb-4">
                        <i class="mdi mdi-cart-outline"></i>
                    </div>
                    <h5 class="fw-semibold">2. Manage Your Daily Business Transactions</h5>
                    <p class="text-muted">
                        Seamlessly handle all your business transactions, from stock management to customer sales, in a unified platform designed to simplify your workflow.
                    </p>
                    <img src="{% static 'images/arrow-bottom.png' %}" alt="" class="work-arrow" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-warning mb-4">
                        <i class="mdi mdi-briefcase-check-outline"></i>
                    </div>
                    <h5 class="fw-semibold">3. Build an Ecosystem with Mangi Apps</h5>
                    <p class="text-muted">
                        In the background, our app creates a connected ecosystem of Mangi apps that ensures your business stays intact. Strengthen relationships with customers and suppliers while also accessing microfinance opportunities to fuel growth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it works end -->

<!-- features start -->
<section class="section bg-light features-bg " id="features">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h1 class="fs-38 mb-4">Connecting People and Places</h1>
                <p class="text-muted">
                    We go beyond transactions to connect people, places, and businesses. Our platform simplifies interactions while fostering strong relationships.
                </p>

                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-lg bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-check"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted"><span class="text-dark fw-bold">Simple Onboarding</span> ensures that setting up your business and connecting with suppliers is seamless.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-lg bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-layers-outline"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted"><span class="text-dark fw-bold">Integrated Solutions</span> for managing your business, inventory, and relationships in one app.</p>
                    </div>
                </div>

                <div class="d-flex mb-3">
                    <div class="flex-shrink-0">
                        <span class="avatar avatar-lg bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-lock-outline"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <p class="text-muted">
                            <span class="text-dark fw-bold">Secure and Reliable</span> with an offline-first policy, ensuring your business continues to operate even without internet access.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <img src="{% static 'images/features-2.png' %}" alt="Features image" class="img-fluid d-block mx-auto ms-lg-auto" />
            </div>
        </div>
    </div>
</section>
<!-- features end -->

     <!-- footer & cta start -->
<section class="footer bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center text-lg-start">
                <div class="footer-logo mb-4">
                    <a href="#">
                        <img src="{% static 'images/logo-light.png' %}" alt="Mangi Logo" /> 
                    </a>
                </div>
                <a href="mailto:info@mangi.stores" class="text-white">info@mangi.stores</a>
                <p class="text-white">(+255) 687 046 323</p>
                <p class="text-white">(+255) 742 178 726</p>

                <h5 class="fs-18 mb-3 text-white">Follow Us</h5>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/mangi_apptz/?igshid=djR3bzYyZ3NnZnNz&utm_source=qr" class="footer-social-icon"><i class="mdi mdi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/mangi" class="footer-social-icon"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://linkedin.com/mangi" class="footer-social-icon"><i class="mdi mdi-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://skype.com/mangi" class="footer-social-icon"><i class="mdi mdi-skype"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <h5 class="fs-18 mb-3 text-white">Our Products</h5>
                <ul class="list-unstyled footer-link">
                    <li><a href="javascript:void(0);" class="text-white">Mangi Expenses</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Mangi Supplier</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Mangi Booking</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Mangi Creative</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Mangi Industries</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 mt-4 mt-lg-0">
                <h5 class="fs-18 mb-3 text-white">About</h5>
                <ul class="list-unstyled footer-link">
                    <li><a href="javascript:void(0);" class="text-white">About Us</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Features</a></li>
                    <li><a href="javascript:void(0);" class="text-white">FAQ</a></li>
                    <li><a href="{% url 'privacy_policy' %}" class="text-white">Privacy Policy</a></li>
                    <li><a href="javascript:void(0);" class="text-white">Terms & Conditions</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 mt-4 mt-lg-0">
                <h5 class="fs-18 mb-3 text-white">Subscribe to Our Newsletter</h5>
                <p class="text-white-50">Subscribe to our newsletter for the latest updates</p>
                <div>
                    <form>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email" aria-label="Enter your email" required>
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer end -->

<div class="footer-tagline bg-dark py-3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p class="text-white opacity-75 mb-0 fs-14">&copy; <script>document.write(new Date().getFullYear())</script> Mangi - All Rights Reserved</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="text-white opacity-75 mb-0 fs-14">Made with <i class="mdi mdi-heart text-danger"></i> by Sotech Technologies</p>
            </div>
        </div>
    </div>
</div>
<!-- footer & cta end -->

{% endblock %}
